@using Microsoft.AspNetCore.Identity
@using SampleApp.Data.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body>
    <nav>


        <div class="container d-flex justify-content-between mt-4">
            <ul>
                <li><a class="" asp-page="/Index">Trang chủ</a></li>
                @* <li>
                Database upload examples
                <ul>
                <li><a asp-page="/BufferedSingleFileUploadDb">Upload one buffered file with one file upload control</a></li>
                <li><a asp-page="/BufferedMultipleFileUploadDb">Upload multiple buffered files with one file upload control</a></li>
                <li><a asp-page="/BufferedDoubleFileUploadDb">Upload two buffered files with two file upload controls</a></li>
                <li><a asp-page="/StreamedSingleFileUploadDb">Stream a file with AJAX to a controller endpoint</a></li>
                </ul>
                </li> *@
                <li>
                    Công cụ
                    <ul>
                        @* <li><a asp-page="/BufferedSingleFileUploadPhysical">Upload one buffered file with one file upload control</a></li>
                        <li><a asp-page="/BufferedMultipleFileUploadPhysical">Upload multiple buffered files with one file upload control</a></li>
                        <li><a asp-page="/BufferedDoubleFileUploadPhysical">Upload two buffered files with two file upload controls</a></li> *@
                        @*<li><a asp-page="/StreamedSingleFileUploadPhysical">Tải lên file mới</a></li>*@
                        <li><a asp-page="/GetDistinctDataFromExcelFiles">Lọc trùng dữ liệu</a></li>
                        <li><a asp-page="/ValidateFileDataPhoneNumber">Chuẩn hóa file dữ liệu</a></li>

                    </ul>
                </li>

            </ul>
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity">Hello @User.Identity.Name!</a>
                    </li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Logout" method="post">
                        <button type="submit" class="btn btn-warning">Logout</button>
                    </form>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
